<MarketplaceDetails>
  <SmallAppTile>StoreTile.png</SmallAppTile>
  <ScreenShots>WVGAScreen1.png;WVGAScreen2.png;WVGAScreen3.png;WVGAScreen4.png;;;;;</ScreenShots>
  <ScreenShotsWXGA>WXGAScreen1.png;WXGAScreen2.png;WXGAScreen3.png;WXGAScreen4.png;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720Screen1.png;720Screen2.png;720Screen3.png;720Screen4.png;;;;;</ScreenShots720P>
</MarketplaceDetails>